<form novalidate>
    <div class="mb-3">
        <label for="productTitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="productTitle" placeholder="Title" ng-model="new_product.title">
    </div>
    <div class="mb-3">
        <label for="productPrice" class="form-label">Price</label>
        <input type="number" class="form-control" id="productPrice" placeholder="Price" ng-model="new_product.price">
    </div>
    <button type="button" class="btn btn-primary" ng-click="createNewProduct()">Save changes
    </button>
</form>