<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>

</head>
<body ng-app="market-front">
<div class="container" ng-controller="indexController">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#!/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!/store">Каталог продуктов</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!/create_product">Добавить товар(техн)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!/report">Получить отчет</a>
                    </li>
                    <li>
                        <a href="#!/cart_view">
                            <button type="button" class="btn position-relative">
                            <span ng-if="cart_size > 0"
                                  class="position-absolute top- start-100 translate-middle badge rounded-pill bg-danger">
                    {{cart_size}}
                            </span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-cart" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                                </svg>
                            </button>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="d-flex" ng-show="!isUserLoggedIn()">
                <div class="dropdown" style="margin-right: 10px">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false" data-bs-auto-close="outside">
                        Войти
                    </button>
                    <form class="dropdown-menu p-4" style="--bs-dropdown-min-width: 15rem">
                        <div class="mb-3">
                            <label for="singInLogin" class="form-label">Login</label>
                            <input type="text" class="form-control" id="singInLogin" placeholder="Login" ng-model="user.username">
                        </div>
                        <div class="mb-3">
                            <label for="singInPassword" class="form-label" >Password</label>
                            <input type="password" class="form-control" id="singInPassword"
                                   placeholder="Password" ng-model="user.password">
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="tryToLogIn()">Войти</button>
                    </form>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false" data-bs-auto-close="outside">
                        Регистрация
                    </button>
                    <form class="dropdown-menu p-4" style="--bs-dropdown-min-width: 15rem">
                        <div class="mb-3">
                            <label for="singUpLogin" class="form-label">Login</label>
                            <input type="text" class="form-control" id="singUpLogin" placeholder="Login" ng-model="newUser.username">
                        </div>
                        <div class="mb-3">
                            <label for="singUpPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="singUpPassword"
                                   placeholder="Password" ng-model="newUser.password">
                        </div>
                        <div class="mb-3">
                            <label for="singUpEmail" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="singUpEmail"
                                   placeholder="email@example.com" ng-model="newUser.email">
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="tryToRegister()">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
            <div class="d-flex" ng-show="isUserLoggedIn()">
                <button class="btn btn-primary" ng-click="tryToLogout()">Выйти</button>
            </div>
        </div>
    </nav>
    <div id="liveAlertPlaceholder"></div>
    <ng-view></ng-view>

    <script src="index.js"></script>
    <script src="store/store.js"></script>
    <script src="welcome/welcome.js"></script>
    <script src="edit_product/edit_product.js"></script>
    <script src="create_product/create_product.js"></script>
    <script src="cart_view/cart_view.js"></script>
    <script src="report/report.js"></script>
</div>
</body>
</html>